  {% extends "frontend/base_inner_not_logged.html"%}  
  {% block content%}
    <div id="content"> 
      <h2>¿Quiénes somos?</h2>
      <div style="font-size:16px;">
        <blockquote>
          <address>
            <strong>Diventi SRL.</strong><br />
            Avda. Mosconi 3223 Piso 7 Oficina C<br />
            CABA, Argentina<br/>
            CP 1419<br />
            CUIT:</i> <strong>30-71041292-4</strong><br />
          </address>
        </blockquote>
        Pronto <b>LatinCoin S.A.</b>
      </div>
    </div>
  {% endblock%}