  {% extends "frontend/base_inner_not_logged.html"%}  
  {% block content%}
    <div id="fees"> 
      <h3>Costos <small>y números</small></h3>
      
      <div class="row-fluid portfolio-block">
        <div class="span5 portfolio-text">
          <div class="fees_icon">
            <i class="icon-download-alt"></i>
          </div>
          <div class="portfolio-text-info">
            <h4>Depósito de pesos</h4>
            <p>Por transferencia bancaria o depósito por ventanilla.</p>
          </div>
        </div>
        <div class="span7">
          <div class="portfolio-info">
            Impuestos y costos
            <span>{{system_config.cur_deposit_tax|format_number(2)}}%</span>
          </div>
          <div class="portfolio-info limit">
            Monto míninmo
            <span>$&nbsp;{{system_config.min_curr_deposit|format_number(2)}}</span>
          </div>
        </div>
      </div>
      
      <div class="row-fluid portfolio-block">
        <div class="span5 portfolio-text">
          <div class="fees_icon">
            <i class="icon-upload-alt"></i>
          </div>
          <div class="portfolio-text-info">
            <h4>Retiro de pesos</h4>
            <p>Por transferencia bancaria.</p>
          </div>
        </div>
        <div class="span7">
          <div class="portfolio-info">
            Impuestos y costos
            <span>{{system_config.cur_withdraw_tax|format_number(2)}}%</span>
          </div>
          <div class="portfolio-info limit">
            Monto míninmo
            <span>$&nbsp;{{system_config.min_curr_withdraw|format_number(2)}}</span>
          </div>
          <div class="portfolio-info">
            Comisión
            <span class="fee">{{system_config.cur_withdraw_fee|format_number(1)}}%</span>
          </div>
        </div>
      </div>
      
      
      <div class="row-fluid portfolio-block">
        <div class="span5 portfolio-text">
          <div class="fees_icon">
            <i class="icon-download-alt"></i>
          </div>
          <div class="portfolio-text-info">
            <h4>Depósito de bitcoins</h4>
            <p>-</p>
          </div>
        </div>
        <div class="span7">
          <div class="portfolio-info">
            Impuestos y costos
            <span>{{system_config.btc_deposit_tax|format_number(2)}}%</span>
          </div>
          <div class="portfolio-info limit">
            Monto míninmo
            <span>BTC&nbsp;{{system_config.min_btc_deposit|format_number(2)}}</span>
          </div>
        </div>
      </div>
      
      <div class="row-fluid portfolio-block">
        <div class="span5 portfolio-text">
          <div class="fees_icon">
            <i class="icon-upload-alt"></i>
          </div>
          <div class="portfolio-text-info">
            <h4>Retiro de bitcoins</h4>
            <p>-</p>
          </div>
        </div>
        <div class="span7">
          <div class="portfolio-info">
            Impuestos y costos
            <span>{{system_config.btc_withdraw_tax|format_number(2)}}%</span>
          </div>
          <div class="portfolio-info limit">
            Monto míninmo
            <span>BTC&nbsp;{{system_config.min_btc_withdraw|format_number(2)}}</span>
          </div>
          <div class="portfolio-info">
            Comisión
            <span class="fee">{{system_config.btc_withdraw_fee|format_number(1)}}%</span>
          </div>
        </div>
      </div>
  
      <div class="row-fluid portfolio-block">
        <div class="span5 portfolio-text">
          <div class="fees_icon">
            <i class="icon-shopping-cart"></i>
          </div>
          <div class="portfolio-text-info">
            <h4>Venta de bitcoins</h4>
            <p>-</p>
          </div>
        </div>
        <div class="span7">
          <div class="portfolio-info">
            Impuestos y costos
            <span>{{system_config.btc_sell_tax|format_number(2)}}%</span>
          </div>
          <div class="portfolio-info limit">
            Monto míninmo
            <span>BTC&nbsp;{{system_config.min_ask_amount|format_number(4)}}</span>
          </div>
          <div class="portfolio-info">
            Comisión
            <span class="fee">{{system_config.btc_sell_fee|format_number(1)}}%</span>
          </div>
        </div>
      </div>
  
  
      <div class="row-fluid portfolio-block">
        <div class="span5 portfolio-text">
          <div class="fees_icon">
            <i class="icon-shopping-cart"></i>
          </div>
          <div class="portfolio-text-info">
            <h4>Compra de bitcoins</h4>
            <p>-</p>
          </div>
        </div>
        <div class="span7">
          <div class="portfolio-info">
            Impuestos y costos
            <span>{{system_config.btc_buy_tax|format_number(2)}}%</span>
          </div>
          <div class="portfolio-info limit">
            Monto míninmo
            <span>BTC&nbsp;{{system_config.min_bid_amount|format_number(4)}}</span>
          </div>
          <div class="portfolio-info">
            Comisión
            <span class="fee">{{system_config.btc_buy_fee|format_number(1)}}%</span>
          </div>
        </div>
      </div>
  
    </div>
  {% endblock%}
  