<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <p>{{'Deberas validar tu identidad y domicilio'}}.</p>
    <p>{{'Para ello puedes escanear y enviar primer y segunda hoja de tu <b>DNI</b> o de tu <b>pasaporte</b>.'}}</p>
    <p>{{'También deberás escanear y enviar una <b>factura mensual de servicio</b> como Internet o telefonía, o un <b>certificado de residencia expedido por autoridad oficial</b> para validar tu domicilio'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/identity_validation.png" alt="" />
      </center>
    </div>
    <p>{{'Para que podamos validar identidad y domicilio simplemente sube los archivos a LatinCoin.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/identity_validation_upload.png" alt="" />
      </center>
    </div>
    <p>{{'Serás notificado por correo electrónico cuando el equipo de LatinCoin verifique los docuemntos.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/identity_validation_uploaded.png" alt="" />
      </center>
    </div>
  </div>
  <div class="span2">
  </div>
</div>