<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <p>{{'Con la identidad y domicilio validados podrás acreditar fondos en tu cuenta LatinCoin'}}.</p>
    <p>{{'Para ello simplemente realiza una transferencia o depósito a la cuenta LatinCoin y envía por correo el comprobante.'}}</p>
    <p>{{'Es requisito que envíes el comprobante desde el correo que utilizas en la cuenta LatinCoin, y que el asunto del correo sea el que te indica la página de depósito como figura el ejemplo a continuación.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/deposit.png" alt="" />
      </center>
    </div>
    <p>{{'Serás notificado por correo electrónico cuando se acredite tu depósito.'}}.</p>
  </div>
  <div class="span2">
  </div>
</div>