<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <p>{{'Una vez acreditados tus fondos en al cuenta LatinCoin ya puedes comprar bitcoins'}}.</p>
    <p>{{'Puedes generar <b>órdenes de mercado (o a mercado)</b>, que se ejecutan al precio actual del mercado, y son inmediata: se completan al momento o se cancelan. Este tipo de ordenes solo se ejecutarán si hay contrapartida suficiente para cubrir todo el volumen de la orden.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/buy_btc.png" alt="" />
      </center>
    </div>
    <p>{{'También puede generar <b>órdenes limitadas</b>, que se limitan al precio que se indique, es decir que las compras no superarán al precio. Este tipo de ordenes pueden ejecutarse parcialmente si no hay volumen y precio de contrapartida de venta suficiente.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/buy_btc2.png" alt="" />
      </center>
    </div>
    <p>{{'¡Buenas compras!'}}</p>
  </div>
  <div class="span2">
  </div>
</div>