<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <p>{{'Con la identidad y domicilio validados podrás acreditar bitcoins en tu cuenta LatinCoin'}}.</p>
    <p>{{'Para ello simplemente realiza una transferencia a la dirección que tiene asignada tu cuenta cuenta LatinCoin.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/deposit_btc.png" alt="" />
      </center>
    </div>
    <p>{{'Serás notificado por correo electrónico cuando se acredite la transferencia.'}}.</p>
  </div>
  <div class="span2">
  </div>
</div>