<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <p>{{'Registrate en LatinCoin ingresando email y contraseña'}}.</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/signup.png" alt="" />
      </center>
    </div>
    <p>{{'Al instante recibirás un correo que incluirá un link para confirmar tu cuenta de email'}}.</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/signup_confirmation_sent.png" alt="" />
      </center>
    </div>
    <p>{{'Si no lo encuentras en los correos recbidos, revisa la carpeta de SPAM'}}.</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/signup_confirmation_recv.png" alt="" />
      </center>
    </div>
    <p>{{'Valida tu email accediendo a través del explorador a la dirección recibida'}}.</p>
  </div>
  <div class="span2">
  </div>
</div>