<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <p>{{'Una vez acreditados tus fondos en al cuenta LatinCoin ya puedes comprar bitcoins'}}.</p>
    <p>{{'Puedes generar <b>órdenes de mercado (o a mercado)</b>, que se ejecuta al precio actual del mercado, y es inmediata: se completa al momento o se cancela. Esta orden solo se ejecutará si hay contrapartida suficiente para cubrir todo el volumen de la orden.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/buy_btc.png" alt="" />
      </center>
    </div>
    <p>{{'También puede generar <b>órdenes limitadas</b>, que se limitan al precio que indiquemos, es decir que las compras no superarán al precio. Esta orden puede ejecutarse parcialmente si no hay volumen y precio de contrapartida de venta suficiente. Esta orden o bien se ejecuta al momento, o bien queda pendiente hasta que una orden de venta conforme el precio, o bien hasta que el usuario la cancele.'}}</p>
    <div class="well" style="padding:0px">
      <center>
        <img src="/assets/img/how_to/buy_btc2.png" alt="" />
      </center>
    </div>
    <p>{{'¡Buenas compras!'}}</p>
  </div>
  <div class="span2">
  </div>
</div>