  {% extends "frontend/base_inner_not_logged.html"%}  
  
  {% block content%}
    <div id="content"> 
      <h2>Política de Privacidad</h2>

      
      <p>
           La presente Política de Privacidad forma parte de los Términos y Condiciones de Uso del Sitio localizados en el <b><a href="{{url_for('terms')}}">Términos y Condiciones</a></b> (los "Términos y Condiciones").</p>
      <p>
           Una de las prioridades de <b>LATINCOIN S.A.</b> (en adelante la "Empresa") es respetar la privacidad de sus Usuarios y procurar mantener segura la información y los datos personales que la Empresa recolecta a raíz de su utilización del Sistema (la "Información").</p>
      <p>
           Por la presente, la Empresa informa al Usuario qué tipo de información recolecta, cómo la almacena, cuál es la finalidad de su archivo, cómo la protege, cuál es el alcance de su compromiso de confidencialidad y cuáles son los derechos del Usuario como titular de la Información.</p>
      <br>
      <p class="title_one">
           ¿Qué tipo de información recolecta la Empresa?</p>
      <ul>
          <p class="bold">
               a) Información Obligatoria:</p>
          <p>
               A fin que el Usuario pueda utilizar el Sistema, la Empresa necesita conocer la siguiente información:</p>
          <ol>
              <li>
                  Nombres, apellidos, documento (Documento Nacional de Identidad - DNI) y dirección de e-mail del Usuario son necesarios para que éste pueda registrarse en el Sitio y abrir su cuenta LatinCoin.</li>
              <li>
                  Su domicilio, cuando decide retirar los fondos de su cuenta LatinCoin, a fin de enviarle un cheque por el importe correspondiente; este dato, así como su número de teléfono podrá ser requerido para acceder a determinados servicios de la Empresa.</li>
              <li>
                  Su número de cuenta bancaria es requerido cuando una acreditación en su cuenta LatinCoin supera el monto previsto en los Términos y Condiciones.</li>
          </ol>
          <p>
               La información precedente deberá ser veraz y completa en todo momento. El Usuario responderá en cualquier caso por la veracidad de la información proporcionada y en ningún caso la Empresa será responsable por ello. La Empresa se reserva el derecho de restringir el acceso al Sistema a todo Usuario que haya proporcionado datos falsos, sin perjuicio de las demás acciones que procedan conforme a derecho.</p>
          <br>
          <p class="bold">
               b) Otra Información:</p>
          <p>
               Asimismo, al procesar cada transacción, la Empresa registra información sobre las operaciones que realiza el Usuario, tal como el monto y los datos que identifican al receptor de una transferencia.</p>
          <p>
               Además, para verificar los datos de cuentas bancarias informadas por los Usuarios en los casos contemplados la Empresa podrá solicitar validaciones a las entidades financieras correspondientes.</p>
          <p>
               La Empresa también genera y sistematiza información mediante encuestas a los Usuarios con la finalidad de obtener datos demográficos, así como otra información estadística para hacer más eficiente su servicio y mejorar la experiencia del Usuario, permitiendo identificarlo individualmente.</p>
          <p>
               La Empresa podrá usar información de IP (protocolo de Internet) para analizar tendencias, administrar el Sitio y recolectar información demográfica. Dichas direcciones de IP no serán utilizadas por la Empresa para la identificación de Usuarios, con excepción de los casos en que se investiguen posibles actividades fraudulentas.</p>
          <p>
               Finalmente, la Empresa podrá requerir del Usuario información adicional vinculada a la optimización de los servicios ofrecidos por el Sitio.</p>
      </ul>
      <p class="title_one">
           ¿Cómo almacena la Empresa la Información?</p>
      <p>
           Cuando el Usuario ingresa sus datos personales al servidor de la Empresa, éstos son transformados en códigos que viajan en forma encriptada desde su computadora al servidor de la Empresa. Una vez recibidos los datos que la Empresa necesita conocer, los mismos son decodificados y procesados, con la excepción de las medidas de seguridad (incluida la clave personal) que permanecen constantemente encriptadas en la base de datos.</p>
      <br>
      <p class="title_one">
           Finalidad del archivo</p>
      <p>
          La Empresa usa la Información obtenida para procurar un servicio eficiente y proveer una mejor atención al Usuario. La Empresa no venderá, cederá ni transferirá a cualquier título la Información. La Empresa usará información del Usuario para resolver disputas y problemas y para hacer valer los <a href="/tyc">Términos y Condiciones</a> del sitio. En ciertas circunstancias, La Empresa podrá revisar la información del Usuario para identificar problemas o resolver disputas.
      </p>
      <br>
      <p class="title_one">
           ¿Cómo protege la Empresa a la Información?</p>
      <p>
          La Empresa incorporará mecanismos de protección de la Información, a fin de evitar razonablemente desviaciones y su adulteración, pérdida, consulta o tratamiento no autorizado. Los detalles de estos mecanismos se especifican en nuestra <a href="/seguridad">Política de Seguridad</a>.
      </p>
      <p>
           La Empresa trabaja con SSL 128 bits, la más alta encriptación comercialmente disponible, para que la información no pueda ser leída mientras viaja a través de Internet. Sin embargo, la Empresa no puede garantizar la seguridad o confidencialidad absoluta de la Información, dado que Internet es una red electrónica abierta.</p>
      <p>
           Además, cada Usuario crea un registro protegido por un nombre de usuario y una clave personal de acceso. Cuando es usada en combinación con el nombre de Usuario, permite al Usuario acceder a su información personal y a su cuenta LatinCoin.</p>
      <p>
           La Empresa permite a sus empleados el acceso a la Información para procesar pedidos de atención al cliente o para control de fraude. Sin perjuicio de ello, datos necesarios para realizar operaciones, como la clave personal del Usuario, no se encuentran a disposición de ningún empleado, ejecutivo o asesor de la Empresa, dado que los mismos son automáticamente encriptados por la base de datos de la Empresa al ser ingresados.</p>
      <br>
      <p class="title_one">
           Compromiso de confidencialidad</p>
      <p>
           La Empresa no revelará la Información a terceros salvo cuando:</p>
      <ol>
          <li>
              El Usuario lo autorice expresamente.</li>
          <li>
              Sea requerido por ley, decreto o resolución administrativa.</li>
          <li>
              Sea en cumplimiento de una resolución judicial.</li>
          <li>
              Se utilice el Sitio para desarrollar actividades ilegales, o causar daños o perjuicios a la Empresa o a sus bienes, a otros Usuarios o a terceros y la difusión de la Información sirva para identificar, localizar o llevar a cabo acciones legales contra quienes realicen tales actividades o causen tales daños o perjuicios.</li>
      </ol>
      <p>
           No obstante, la Empresa podrá revelar al receptor de una transferencia realizada a través de <b>LatinCoin</b>, la dirección de e-mail del Usuario que ordenó dicha transferencia.</p>
      <br>
      <p class="title_one">
           Derechos del Titular de la Información</p>
      <p>
           En su carácter de titular de la Información, el Usuario tendrá derecho a acceder a sus datos personales incluidos en la base de datos de la Empresa, ingresando su nombre de usuario y su clave personal y a rectificar y actualizar dicha Información.</p>
      <br>
      <p class="title_one">
           Contacto con los Usuarios</p>
      <p>
           La Empresa podrá contactar a aquellos Usuarios que expresamente lo autoricen, para ofrecerles ciertos servicios que considere de interés para ellos.</p>
      <br>
      <p class="title_one">
           Modificaciones en la Política de Privacidad</p>
      <p>
           La Empresa se reserva el derecho de efectuar, en cualquier momento, modificaciones en la presente Política de Privacidad, y adaptarla a novedades legislativas, jurisprudenciales, así como a prácticas del mercado. Queda bajo responsabilidad del Usuario controlar periódicamente la misma para estar al tanto de las posibles modificaciones. La Empresa anunciará por este medio cualquier cambio a ser introducido, con razonable antelación a su puesta en práctica. Una vez introducida en el Sitio, la modificación entrará automáticamente en vigencia.</p>
      <br>
      <p class="title_one">
           Consultas</p>
      <p>
           Para cualquier consulta o pregunta sobre esta Política de Privacidad, por favor envíanos un e-mail a
          <a href="mailto:info@latincoin.com">info@latincoin.com</a>.</p>
    </div>
  {% endblock%}