  {% extends "frontend/base_inner_not_logged.html"%}  
  {% block content%}
    <div id="content"> 
      <div class="span12">
        <h3>Seguridad</h3>
        <!-- p>En LATINCOIN brindamos almacenamiento seguro para los bictoins de nuestros clientes.</p -->
        <p>Algunas de las medidas de seguridad que hemos tomado:</p>
        <ul>
        	<li>Los monederos (y las claves privadas) se almacenan utilizando cifrado AES-256.</li>
        	<li>El 100% de los monederos (y las claves privadas) se almacenan fuera de línea (desconectado de Internet) para evitar el robo o pérdida. Esto significa que ante un hackeo total del sitio, y/o acceso a los códigos fuente y/o a la base de datos del sistema no conducirá a un robo de fondos (bitcoins o pesos).</li>
          <li>El 100% de los retiros (transacciones fuera del sitio) se realizan de manera artesanal.</li>
          <li>El signado de los retiros de bitcoins se efectúa en computadoras fuera de línea (desconectadas de Internet).</li>
          <li>Previo a la ejecución de los retiros de bitcoins y pesos verificamos la consistencia del balance rearmando el historial de compras, ventas, depósitos y retiros desde el último checkpoint.</li>
        	<li>Ofrecemos la autenticación de dos pasos <i>OTPauth</i> para el acceso al sitio.</li>
        	<li>El sitio funciona por completo a través de SSL (https).</li>
        	<li>Ciframos las contraseñas almacenadas en la base de datos.</li>
        	<li>No utilizamos SQL. Eliminamos así la vulnerabilidad de <i>SQL Injection</i>.</li>
        	<li>Comprobamos la seguridad de las contraseñas al crear una cuenta y al modifcarlas.</li>
        	<li>Estamos bajo auditoría de seguridad + commpliance de infraestructura para prevenir vulnerabilidades del sistema.</li>
        </ul>
      </div>
    </div>
  {% endblock%}
  