  {% extends "frontend/base.html"%}
  
  {%block html_body%}
    <body class="login" style="background-color:#ffffff !important;">
      <!-- BEGIN LOGO -->
      <div class="logo">
        <a href="{{url_for('home')}}" class="brand">
          <img src="/assets/img/logo/logotipow200.png" alt="logo">
        </a>
      </div>
      <!-- END LOGO -->
      <!-- BEGIN LOGIN -->
      <div class="content" style="border: 1px solid #eee;">
        {%block content%}
        {%endblock%}  
      </div>
      <!-- END LOGIN -->
      <!-- BEGIN COPYRIGHT -->
      <div class="copyright">
        {% include "frontend/base_copyright.html"%}
      </div>
      <!-- END COPYRIGHT -->
    <script src="/assets/js/jquery-1.8.3.min.js"></script>
    {%block javascript_run%}
    {%endblock%}
    </body>
{%endblock%}
  