  {% extends "frontend/base.html"%}
  
  {%block content_body%}
  
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
      
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar nav-collapse collapse">
        {%include "frontend/sidebar.html"%}
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
          <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>Widget Settings</h3>
          </div>
          <div class="modal-body">
            <p>Here will be a configuration form</p>
          </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        
        {%block content%}
        {%endblock%}
        
      </div>
      <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
	
  {%endblock%}
  
  <!-- END JAVASCRIPTS -->
  {%block javascript_run%}
  {%endblock%}
