  {% extends "frontend/base.html"%}

  {%block html_body%}
    <body class="fixed-top">
      <!-- BEGIN HEADER -->
      {%include "frontend/header.html"%}
      <!-- END HEADER -->
      
      <!-- BEGIN BODY -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container row-fluid">
          
          <!-- BEGIN SIDEBAR -->
          <div class="page-sidebar nav-collapse collapse">
            {%include "frontend/sidebar.html"%}
          </div>
          <!-- END SIDEBAR -->
          <!-- BEGIN PAGE -->
          <div class="page-content">
            
            {%block content%}
            {%endblock%}
            
          </div>
          <!-- END PAGE -->
        </div>
        <!-- END CONTAINER -->
      <!-- BEGIN BODY -->
      
      <!-- BEGIN FOOTER -->
      <div class="footer">
        {% include "frontend/base_copyright.html"%}
        <div class="span pull-right">
          <span class="go-top"><i class="icon-angle-up"></i></span>
        </div>
      </div>
      <!-- END FOOTER -->
      
      <!-- BEGIN JAVASCRIPTS -->
      {%include "frontend/base_javascripts.html"%}
      <!-- END JAVASCRIPTS -->
        <!-- END JAVASCRIPTS -->
      {%block javascript_run%}
      {%endblock%}
    </body>
  {%endblock%}