<footer class="main_footer" id="main_footer">
  <div class="container row-fluid grid1000">
    <div class="column span3 responsive first responsive_hide">
      <div class="copyright_logo_gray">
      </div>
      <div class="copyright">© 2013 LatinCoin S.A.</div>
    </div>
    
    <div class="column span3 responsive">
      <h2>LatinCoin</h2>
      <ul>
        <li><a href="{{url_for('about_us')}}">¿Quiénes somos?</a></li>
        <li><a href="{{url_for('terms')}}">Términos y condiciones</a></li>
        <li><a href="{{url_for('privacy')}}">Privacidad</a></li>
        <li><a href="{{url_for('security')}}">Seguridad</a></li>
        <li><a href="{{url_for('fees')}}">Costos</a></li>
      </ul>
    </div>
    
    <div class="column span3 responsive">
      <h2>Data</h2>
      <ul>
        <li><a href="{{url_for('order_book')}}">Libro de órdenes</a></li>
        <!-- li><a href="{# {url_for('api')} #}">API</a></li -->
      </ul>
    </div>
    
    <div class="column span3 responsive">
      <h2>Ayuda</h2>
      <ul>
        <li><a href="{{url_for('help-what_is_bitcoin')}}">¿Qué es bitcoin?</a></li>
        <li><a href="{{url_for('help-how_to_buy')}}">¿Cómo comprar bitcoins?</a></li>
        <li><a href="{{url_for('help-how_to_sell')}}">¿Cómo vender bitcoins?</a></li>
        <li><a href="{{url_for('help-faq')}}">FAQ</a></li>
        <!-- li><a href="{# {url_for('help-forum')} #}">Foro</a></li -->
      </ul>
    </div>
  </div>
</footer>
    