									
                    
                  <div class="span8">
                    <div>
                      <!-- BEGIN GENERAL PORTLET-->
                      <div class="portlet">
                        <div class="portlet-title">
                          <h4><i class="icon-plus-sign"></i> Transfiera o deposite sus pesos en esta cuenta bancaria.</h4>
                        </div>
                        <div class="portlet-body">
                          <!-- div class="row-fluid">
                            <div class="span12">
                              <p></p>
                            </div>
                          </div -->
                          
                          <div class="row-fluid">
                            <div class="span6">
                              <h3></h3>
                              <div class="well">
                                <address>
                                  <i>Beneficiario:</i><br/>
                                  <strong>LatamExchanger Argentina, SA.</strong><br />
                                  Aguirre 276, CABA<br />
                                  Argentina, CP 1414<br />
                                </address>
                                <address>
                                  <i>Número de cuenta:</i><br/>
                                  <strong>23-5556/8</strong><br />
                                </address>
                                <address>
                                  <i>Tipo de cuenta:</i><br/>
                                  <strong>Cuenta corriente en pesos</strong><br />
                                </address>
                                <address>
                                  <i>Nombre del banco:</i><br/>
                                  <strong>Banco COMAFI SA.</strong><br />
                                </address>
                                <address>
                                  <i>Dirección del banco:</i><br/>
                                  <strong>Balcarce 132, CABA, Argentina.</strong><br />
                                </address>
                                <h4>Para transferencia bancaria 24hs.</h4>
                                <address>
                                  <i>CBU:</i><br/>
                                  <strong>700005132400213566</strong><br />
                                </address>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!-- div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div -->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>Instrucciones</h4>
                            <p>Depósito em conta corrente para o <strong>Banco Bradesco</strong>.</p>
                            <p>Registre o valor que deseja depositar e receba todas as instruções para depósito no seu email cadastrado.</p>
                            <p><strong>O valor mínimo é de R$ 20.00</strong>.</p>
                            <p>Será cobrada uma taxa de <strong>1,65%</strong> do valor.</p>
                            <p>Os pagamentos serão creditados após compensação dos mesmos.</p>
                            <p><strong>É necessário anexar o comprovante no seu pedido de depósito aqui mesmo no site</strong> (scanner, foto, dados, texto, etc) .</p>
                            <p>Para realizar um DOC ou TED de outro banco solicite ao suporte o cpf do titular. Caso prefira o banco Itaú para depósito, solicite também ao suporte.</p>
                            <p>Qualquer dúvida entre em contato com o <a href="/suporte/">suporte</a>.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>
				
                  