									
                    
                  <div class="span8">
                    <div>
                      <!-- BEGIN GENERAL PORTLET-->
                      <div class="portlet">
                        <div class="portlet-title">
                          <h4><i class="icon-plus-sign"></i> Transfiera o deposite sus pesos en esta cuenta bancaria.</h4>
                        </div>
                        <div class="portlet-body">
                          <div class="row-fluid">
                            <div class="span6">
                              {{ account_information }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!-- div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div -->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>{{'Instrucciones'}}</h4>
                            <!-- p>{{'Ingrese la cantidad que desea depositar y reciba todas las instrucciones en su dirección de correo electrónico.'}}</p -->
                            <p>{{'Para poder comprar bitcoins debe acreditar fondos en su cuenta.'}}</strong>.</p>
                            <p>{{'Acredite fondos en su cuenta realizando una transferencia bancaria al CBU que figura en pantalla, o bien deposite por ventanilla en la cuenta del banco indicada.'}}</p>
                            <p>{{'Una vez realizado el depósito o transferencia, <b>debe enviar un correo electrónico</b> a <a href="mailto:soporte@latincoin.com">soporte@latincoin.com</a> desde la cuenta de correo registrada en <b>LatinCoin</b>.'}}</p>
                            <p>{{'Utilize el siguiente asunto: "Depósito <b style="color:#FF0000;">%s</b>" y recuerde <b>adjuntar comprobante</b> de depósito o transferencia en formato pdf o imagen.'|format(account.key().id()|string)}}</p>
                            
                            <p>{{'El <b>valor mínimo</b> de depósito es de <b>$%.2f</b> pesos argentinos.'|format(system_config.min_curr_deposit|float)}}</p>
                            <p>{{'La acreditación de los valores tiene una tasa de impuestos y costos de <strong>%%%.2f</strong>.'|format(system_config.cur_deposit_tax|float)}}</p>
                            <p>{{'Ante cualquier duda por favor contáctese con <a href="mailto:soporte@latincoin.com">soporte@latincoin.com</a>.'}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>


                  <!-- BEGIN EXAMPLE TABLE PORTLET-->
                  <div id="btc_in" class="portlet box light-grey">
                    <div class="portlet-title">
                      <h4><i class="icon-table"></i>{{ 'Depósito de BTC' }}</h4>
                      <div class="tools">
                        <a id="my_btc_in_table-refresh" href="javascript:;" class="reload"></a>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div class="clearfix">
                      </div>
                      {% set hide_items = '' if True else 'display:none;' %}
                      <table id="my_btc_in_table" class="table table-striped table-bordered table-hover jquery-table" >
                        <thead>
                          <tr>
                            <th >{{'# Nro. Operacion'}}</th>
                            <th>{{'Fecha'}}</th>
                            <th>{{'Cantidad(BTC)'}}</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
				
                  