  {% extends "frontend/base.html"%}
  
  {%block html_head%}
  <!-- Index -->
  <link href="/assets/google-code-prettify/prettify.css" rel="stylesheet" />
  <link href="/assets/css/docs.css" rel="stylesheet" />
  {%endblock%}
  
  {%block html_body%}
    <body class="fixed-top">
      
      <!-- BEGIN HEADER -->
      {%include "frontend/header.html"%}
      <!-- END HEADER -->
      
      <header class="jumbotron subhead" style="margin-top:42px;">
        <div class="container container-narrow">
          <h1>BTC Exchanger</h1>
          <p class="lead">ARGENTINA</p>
          <div style="display:none;position:absolute; bottom:0px; right:0px;">
            <a href="{{ url_for('account-login')}}" id="login-btn-off" class="btn green pull-left">
            Ingresar / Registrarse&nbsp;<i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>
        </div>
      </header>
      
      <!-- BEGIN CONTAINER -->	
      <div class="container  row-fluid" style="width:75%;max-width:1024px;margin:0 auto;" >
        <!-- BEGIN PAGE -->
        <div class="page-content" style="border:none !important;margin-left:0px !important;">
          
          <!-- BEGIN PAGE CONTAINER-->
          <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
              <div class="span12">
                
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->			
                <h3 class="page-title">
                  Bienvenido al primer mercado de bitcoins de la ARGENTINA
                </h3>
                <br/>
                <!-- END PAGE TITLE & BREADCRUMB-->
                <h4>Aquí encontrarás <b>precio</b> y <b>liquidez</b> para tus transacciones, sin moverte de tu casa.</h4>
              </div>
            </div>
            
            <div class="clearfix"></div>
            
            <br/><br/>
            <div class="row-fluid">
              <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                <div class="dashboard-stat blue">
                  <div class="details">
                    <div class="visual">
                      <i class="icon-signin"></i>
                    </div>
                    <div class="number" style="font-size:24px;">
                      Fundá tu cuenta a través de transferencia bancaria en pesos o transferencia de bitcoins
                    </div>
                  </div>
                  <!--<a class="more" href="#">
                  View more <i class="m-icon-swapright m-icon-white"></i>
                  </a>-->						
                </div>
              </div>
              <div class="span4 responsive" data-tablet="span6" data-desktop="span4">
                <div class="dashboard-stat green">
                  <div class="details">
                    <div class="visual">
                      <i class="icon-signout"></i>
                    </div>
                    <div class="number" style="font-size:24px;">
                      Retirá tus fondos a través de transferencia bancaria en pesos o transferencia de bitcoins
                    </div>
                  </div>
                  <!--<a class="more" href="#">
                  View more <i class="m-icon-swapright m-icon-white"></i>
                  </a>-->						
                </div>
              </div>
              <div class="span4 responsive" data-tablet="span6  fix-offset" data-desktop="span4">
                <div class="dashboard-stat purple">
                  <div class="details">
                    <div class="visual">
                    <i class="icon-certificate"></i>
                  </div>
                  <div class="number">0.6%</div>
                    <div class="desc" style="font-size:24px;">Operá a tasas de mercado internacionales <br /><br /></div>
                  </div>
                  <!--<a class="more" href="#">
                  View more <i class="m-icon-swapright m-icon-white"></i>
                  </a>-->						
                </div>
              </div>
            </div>
            <div class="clerafix"></div>
            
            <div class="row-fluid">
              <div class="span12">
                <a href="{{ url_for('account-login')}}" id="login-btn-off" class="btn green pull-right">
                Ingresar / Registrarse&nbsp;<i class="m-icon-swapright m-icon-white"></i>
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
            
            <br/><br/>
            
            {# %include "frontend/market_orders.html" % #}
            {{ _tables['orders'] }}
            <div class="clearfix"></div>
            <br/><br/>
            
            {# %include "frontend/market_operations.html" % #}
            {{ _tables['operations'] }}
            <div class="clearfix"></div>
            
          <!-- END PAGE CONTENT-->
          </div>
          <!-- END PAGE CONTAINER-->	
        </div>
        <!-- END PAGE -->	 	
      </div>
      <!-- END CONTAINER -->
      
      {% include "frontend/base_footer.html"%}
      
      {%include "frontend/base_javascripts.html"%}
      <script type="text/javascript">
        jQuery(document).ready(function() {			
          // initiate layout and plugins
          App.init();
        });
      </script>
    {%endblock%}