        <div class="row-fluid">
					<div class="span12">
						<!-- BEGIN CONDENSED TABLE PORTLET-->
						<div class="portlet">
							<div class="portlet-title">
								<h4><i class="icon-shopping-cart"></i>Historia</h4>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-advance table-hover {{ 'jquery-table' if table_navegable else ''}}">
								<!--table class="table table-condensed table-hover" -->
									<thead>
										<tr>
											<th>Fecha</th>
											<th>Tipo</th>
											<th>Precio/BTC</th>
											<th>Cantidad(BTC)</th>
											<th>Total(Pesos)</th>
                      <th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2013/03/18 15:23:01</td>
											<td>Compra</td>
                      <td>159.02</td>
											<td>12.6</td>
											<td class="hidden-480">2003.652</td>
											<td><span class="label label-success">ok</span></td>
										</tr>
										<tr>
											<td>2013/03/18 15:22:01</td>
											<td>Compra</td>
                      <td>59.02</td>
											<td>12.6</td>
											<td class="hidden-480">103.652</td>
											<td><span class="label label-success">ok</span></td>
										</tr>
                    <tr>
											<td>2013/03/18 15:21:51</td>
											<td>Venta</td>
                      <td>59.02</td>
											<td>12.6</td>
											<td class="hidden-480">103.652</td>
											<td><span class="label label-success">ok</span></td>
										</tr>
                    <tr>
											<td>2013/03/18 15:21:11</td>
											<td>Compra</td>
                      <td>59.02</td>
											<td>12.6</td>
											<td class="hidden-480">103.652</td>
											<td><span class="label label-success">ok</span></td>
										</tr>
                    <tr>
											<td>2013/03/18 15:20:01</td>
											<td>Venta</td>
                      <td>59.02</td>
											<td>12.6</td>
											<td class="hidden-480">103.652</td>
											<td><span class="label label-success">ok</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- END CONDENSED TABLE PORTLET-->
					</div>
        </div>