        <div class="row-fluid">
					<div class="span12">
						<!-- BEGIN CONDENSED TABLE PORTLET-->
						<div class="portlet box white">
							<div class="portlet-title">
								<h4><i class="icon-money"></i>Ultimas operaciones</h4>
							</div>
							<div class="portlet-body">
								<table class="table">
								<!--table class="table table-condensed table-hover" -->
									<thead>
										<tr>
											<th class="centered_text">Tipo</th>
											<th class="centered_text">Precio</th>
											<th class="centered_text">Cantidad</th>
											<th class="centered_text">Valor</th>
                      <th class="centered_text">Fecha</th>
                      <th>#</th>
 									</tr>
									</thead>
									<tbody>
										{% for oper in opers.run(limit=max_opers) %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
											<td class="centered_text">{{oper|operation_type}}</td>
                      <td class="right">${{'%0.2f'|format(oper.ppc|float)}}</td>
											<td class="right">{{'%0.5f'|format(oper.traded_btc|float)}}</td>
											<td class="right">${{'%0.2f'|format((oper.ppc*oper.traded_btc)|float)}}</td>
                      <td class="centered_text">{{oper.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
											<td>{{oper.key().id()|string}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<!-- END CONDENSED TABLE PORTLET-->
					</div>
        </div>