  {% extends "frontend/base_home.html"%}
  
  {%block content%}
    <!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							Operaciones <small>Operaciones activas. Historial de operaciones, acciones y accesos.</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="trade.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Operaciones</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid profile">
					
          <div class="span12">
            <div class="span12" style="margin-left:0;">
              {% set operations_table_name = 'Operaciones activas'%}
              {% set collpased = False %}
              {% set editable = True %}
              {%include "frontend/trade_operations_table.html"%}
            </div>
						<div class="clearfix"></div>		
                
            <div class="span12" style="margin-left:0;">
              {% set operations_table_name = 'Historial de Operaciones'%}
              {% set collpased = False %}
              {% set editable = False %}
              {%include "frontend/trade_operations_table.html"%}
            </div>
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
  {%endblock%}
  
  {%block javascript_run%}
  <script>
		jQuery(document).ready(function() {			
			// initiate layout and plugins
			App.setPage("table_managed");
			App.init();
		});
	</script>
  {%endblock%}