  {%- macro form_input(field, label='', class='', placeholder='') -%}
      <div class="control-group {{'error' if field.errors else ''}}">
        <div class="controls input-icon">
           <label class="control-label">{{label}}</label>
           {{field(class=class, placeholder=placeholder)}}
           {%if field.errors %}
             <span class="input-error tooltips" data-original-title="{{field.errors.0}}">
             <i class="icon-exclamation-sign"></i>
             </span>
           {%endif%}
        </div>
      </div>
    {%- endmacro -%}

  <div class="span12">
    <div class="portlet">
      <div class="portlet-body form">
        <form action="{{url_for('profile-change_password')}}" method="POST">
          {{ form_input(form.password, label='Contraseña actual', class='m-wrap span8') }}
          {{ form_input(form.new_password, label='<b>Nueva contraseña</b>', class='m-wrap span8') }}
          {{ form_input(form.confirm, label='Repita <b>nueva contraseña</b>', class='m-wrap span8') }}
          <div class="form-actions" style="padding-left: 20px !important;">
            <button type="submit" class="btn blue">{{'Cambiar contraseña'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
