    <form action="#">
      <label class="control-label">Contraseña actual</label>
      <input type="password" class="m-wrap span8" />
      <label class="control-label">Nueva contraseña</label>
      <input type="password" class="m-wrap span8" />
      <label class="control-label">Repita nueva contraseña</label>
      <input type="password" class="m-wrap span8" />
      <div class="submit-btn">
        <a href="#" class="btn green">Cambiar contraseña</a>
        <a href="#" class="btn">Cancelar</a>
      </div>
    </form>