    <form action="#">
      <div class="control-group">
        <div class="controls">
          <label class="control-label">Nombre de autenticación</label>
          <input type="text" class="m-wrap span6" />
          <div class="span5" style="float:right;">
            <div class="well">
              <img src="/assets/img/chart.png" alt="QR Code" />
            </div>
          </div>
        </div>
        <br />
        
        <div class="controls">
          <div class="span6">
            <label class="control-label">Llave privada standard</label>
            <!-- input type="text" class="m-wrap span8" disabled/ -->
            <div class="well">
              UL4JLP76R6G4TOS4CLL54E3W4E
            </div>
          </div>
        </div>
        
        <div class="controls">
          <div class="span6">
            <label class="control-label">Llave privada segura</label>
            <div class="well">
              UL4JLP76R6G4TOS4CLL54E3W4E
            </div>
          </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="controls">
          <div class="span6">
            <label class="control-label">Código</label>
            <input type="text" class="m-wrap span6"/>
          </div>
        </div>
        
        <div class="controls">
          <div class="span8">
            <div class="submit-btn">
              <a href="#" class="btn green">Guardar</a>
              <a href="#" class="btn">Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    