  {% extends "frontend/base_home.html"%}
  
  {%block content%}
      <div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							Perfil <small></small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="trade.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Perfil</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid profile">
					<div class="span12">
						<!--BEGIN TABS-->
						<div class="tabbable tabbable-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab_1_1" data-toggle="tab">Identidad</a></li>
								<li><a href="#tab_1_2" data-toggle="tab">Clave y acceso</a></li>
								<li><a href="#tab_1_4" data-toggle="tab">Cuentas bancarias</a></li>
								<li><a href="#tab_1_5" data-toggle="tab">Direcciones bitcoins</a></li>
							</ul>
							<div class="tab-content">
                <!--tab_1_1-->
                <div class="tab-pane row-fluid active" id="tab_1_1">
                  <!-- Perfil y Verificación de identidad -->
                  {%include "frontend/profile_form.html"%}
								</div>
								
                <!--tab_1_2-->
								<div class="tab-pane row-fluid" id="tab_1_2">
                  <!-- Cambia contraseña y Autenticación en dos pasos -->
                  {%include "frontend/profileauth_form.html"%}
                </div>
								
                <!--tab_1_3-->
								<div class="tab-pane row-fluid profile-account" id="tab_1_3">
								</div>
								
                <!--tab_1_4-->
                <div class="tab-pane" id="tab_1_4">
                
                  <div class="row-fluid">
                    <div class="span12">
                      {%include "frontend/profile_cuentasbancos_table.html"%}
                    </div>
                  </div>
        
                </div>
								
                <!--tab_1_5-->
                <div class="tab-pane row-fluid" id="tab_1_5">
                
                
                  <div class="row-fluid">
                    <div class="span12">
                      
                      {%include "frontend/profile_cuentasbitcoin_table.html"%}
                      
                    </div>
                  </div>
        

                
                
                </div>
								
                <!--end tab-pane-->
							</div>
						</div>
						<!--END TABS-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->	
		
{%endblock%}
  
  {%block javascript_run%}
  <script>
		jQuery(document).ready(function() {			
			// initiate layout and plugins
      App.setPage("profile");
      App.init();
		});
	</script>
  {%endblock%}