  <div class="row-fluid">
    <div class="span6">
      <form id="otp-verify" action="{{url_for('profile-otp-verify')}}" method="POST">
        <input type="hidden" name="secret" value="{{secret}}"/>
        <div class="control-group">
          <div class="controls">
            <label class="control-label">Llave privada segura</label>
            <div class="alert alert-info">
              {{secret}}
            </div>
          </div>
          <div class="controls">
              <label class="control-label">Código</label>
              <input type="text" class="m-wrap span12" name="code"/>
          </div>
          <div class="form-actions" style="padding-left: 20px !important;">
            <a href="#" onclick="javascript:$('#otp-verify').submit()" class="btn blue">Guardar</a>
          </div>
        </div>
      </form>
    </div>
    <div class="span2">
      <div class="well">
        <img src="{{url_for('profile-otp-image', url=img_url)}}" alt="QR Code" />
      </div>
    </div>
    
    <div class="span4">
      <div>
        <div class="portlet">
          <div class="portlet-body">
            <div class="well">
              <h4>Autenticación en dos pasos OTP</h4>
              <p>Welcome to the Mt.Gox Security Center.<br>
                <br>
              Here you can secure your account by linking One Time Password (OTP) solutions such as a YubiKey or Google Authenticator to various account functions.<br>
              <br>
              <b>Please be careful when linking OTP to Extra Security. Once linked, all changes to the Security Center will require a YubiKey or Google Authenticator use.</b>
              </p>

            </div>
          </div>
        </div>
      </div>
      <!-- END WELLS PORTLET-->
    </div>

  </div>