  {% extends "frontend/base_home.html"%}
  
  {%block html_head%}
    <link rel="stylesheet" href="/assets/jquery-file-upload/css/jquery.fileupload-ui.css">
		<!--
      <noscript>
        <link rel="stylesheet" href="/assets/jquery-file-upload/css/jquery.fileupload-ui-noscript.css">
      </noscript>
    -->
  {%endblock%}
  
  
  {%block content%}
      <div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							Perfil <small></small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="trade.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Perfil</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid profile">
					<div class="span12">
						<!--BEGIN TABS-->
						<div class="tabbable tabbable-custom">
							<ul class="nav nav-tabs">
								<li class="{{'active' if tab == 'personal_info' else ''}}">
                  <a href="{{ url_for('profile-personal_info') }}">Info personal</a> <!-- data-toggle="tab" -->
                </li>
								<li class="{{'active' if tab == 'identity_validation' else ''}}">
                  <a href="{{ url_for('profile-identity_validation') }}">Verificación de identidad</a> <!-- data-toggle="tab" -->
                </li>
                <li class="{{'active' if tab == 'change_password' else ''}}">
                  <a href="{{ url_for('profile-change_password') }}">Password</a>
                </li>
                <li class="{{'active' if tab == 'otp' else ''}}">
                  <a href="{{ url_for('profile-otp') }}">OTP</a>
                </li>
								<li class="{{'active' if tab == 'bank_account' else ''}}">
                  <a href="{{ url_for('profile-bank_account') }}">Cuentas bancarias</a>
                </li>
								<li class="{{'active' if tab == 'btc_address' else ''}}">
                  <a href="{{ url_for('profile-btc_address') }}">Direcciones bitcoins</a>
                </li>
							</ul>
							<div class="tab-content">
                
                {% if flash %}
                <div class="alert alert-{{ 'alert' if flash.type=='error' else 'success' }}">
                  <button class="close" data-dismiss="{{ 'alert' if flash.type=='error' else 'success' }}" onclick="$(this).parent().remove();"></button>
                  {{flash.message}}
                </div>
                {% endif %}
                
                <div class="tab-pane row-fluid {{'active' if tab == 'personal_info' else ''}}" id="personal_info">
                  {% if tab == 'personal_info' %}
                    {%include "frontend/profile_form_info.html"%}
                  {%endif%}
								</div>
								
                <div class="tab-pane row-fluid {{'active' if tab == 'identity_validation' else ''}}" id="identity_validation">
                  {# % if tab == 'identity_validation' % #}
                    {%include "frontend/profile_form_verification.html"%}
                  {# %endif% #}
                </div>
                
								<div class="tab-pane row-fluid {{'active' if tab == 'change_password' else ''}}" id="change_password">
                  {% if tab == 'change_password' %}
                    {%include "frontend/profile_form_password.html"%}
                  {%endif%}  
                </div>
								
                <div class="tab-pane row-fluid {{'active' if tab == 'otp' else ''}}" id="otp">
                  {% if tab == 'otp' %}
                    {%include "frontend/profile_form_otp.html"%}
                  {%endif%}  
                </div>
                
                <div class="tab-pane row-fluid {{'active' if tab == 'bank_account' else ''}}" id="bank_account">
                  {% if tab == 'bank_account' %}
                    <div class="row-fluid">
                      <div class="span12">
                        {%include "frontend/profile_cuentasbancos_table.html"%}
                      </div>
                    </div>
                  {% endif %}
                </div>
								
                <div class="tab-pane row-fluid {{'active' if tab == 'btc_address' else ''}}" id="btc_address">
                  {% if tab == 'btc_address' %}
                    <div class="row-fluid">
                      <div class="span12">
                        {%include "frontend/profile_cuentasbitcoin_table.html"%}
                      </div>
                    </div>
                  {% endif %}
                </div>
								
                <!--end tab-pane-->
							</div>
						</div>
						<!--END TABS-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->	
		
  {%endblock%}
  
  {%block javascript_run%}
  	<!-- BEGIN:File Upload Plugin JS files-->
	<script src="/assets/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<!-- The Templates plugin is included to render the upload/download listings -->
	<!-- script src="/assets/jquery-file-upload/js/vendor/tmpl.min.js"></script -->
	<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	<script src="/assets/jquery-file-upload/js/vendor/load-image.min.js"></script>
	<!-- The Canvas to Blob plugin is included for image resizing functionality -->
	<script src="/assets/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src="/assets/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<!-- The basic File Upload plugin -->
	<script src="/assets/jquery-file-upload/js/jquery.fileupload.js"></script>
	<!-- The File Upload file processing plugin -->
	<script src="/assets/jquery-file-upload/js/jquery.fileupload-fp.js"></script>
	<!-- The File Upload user interface plugin -->
	<script src="/assets/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
	<!-- The main application script -->
	<script src="/assets/jquery-file-upload/js/main.js"></script>

  <script>
    // Identity validation urls
    var identity_validation_post = '{{ url_for('profile-identity_validation')}}'; // /profile/profile_form_verification_files
    var identity_validation_files = '{{ url_for('profile-identity_validation_files')}}'; // /profile/profile_form_verification_files
    
    // BTC Address & Bank Accounts urls
		var table_ajax_btc_addresses_source = '{{ url_for('profile-btc_address_list')}}';
    var table_ajax_btc_address_post     = '{{ url_for('profile-btc_address')}}';
    
    var table_ajax_bank_accounts_source = '{{ url_for('profile-bank_account_list')}}';
    var table_ajax_bank_account_post    = '{{ url_for('profile-bank_account')}}';
    
    jQuery(document).ready(function() {			
			// initiate layout and plugins
      App.setPage("profile");
      App.init();
      App.initUniform('.fileupload-toggle-checkbox'); // initialize uniform checkboxes
      
		});
	</script>
  {%endblock%}