    {%- macro form_input(field, label='', class='', placeholder='') -%}
      <div class="control-group {{'error' if field.errors else ''}}">
        <div class="controls input-icon">
           <label class="control-label">{{label}}</label>
           {{field(class=class, placeholder=placeholder)}}
           {%if field.errors %}
             <span class="input-error tooltips" data-original-title="{{field.errors.0}}">
             <i class="icon-exclamation-sign"></i>
             </span>
           {%endif%}
        </div>
      </div>
    {%- endmacro -%}

  <div class="span12">
    <div class="portlet">
      <div class="portlet-body form">          
        <form action="{{url_for('profile-personal_info')}}" method="POST">
          {{ form_input(form.email, label='Correo electrónico', class='m-wrap span8', placeholder='Ej: tu.correo@electrinico.com') }}
          {{ form_input(form.name, label='Nombre', class='m-wrap span8', placeholder='Ej: Juan') }}
          {{ form_input(form.last_name, label='Apellido', class='m-wrap span8', placeholder='Ej: Pérez') }}
          {{ form_input(form.cuit, label='CUIL/CUIT', class='m-wrap span8', placeholder='12-12345678-1') }}
          {{ form_input(form.telephone, label='Teléfono de contacto', class='m-wrap span8', placeholder='Ej: 011 15 12345678') }}
          <div class="form-actions" style="padding-left: 20px !important;">
            <button type="submit" class="btn blue"><i class="icon-ok"></i>&nbsp;{{'Guardar datos'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>