
					<div class="span12">
            <p style="">Con el fin de obtener una <b>cuenta verificada</b> y poder <b>operar por montos mayores a $1000</b>, es necesario verificar su identidad y su domicilio.</p>
            <blockquote>
              <p style=""><b>Prueba de identidad</b></p>
              <p style="">Escanee y envíenos primer y segunda hoja de su <b>DNI</b> o de su <b>pasaporte</b>.</p>
              <p style=""><b>Prueba de domicilio</b>
              <p style="">Puede escanear y enviar una <b>factura mensual de servicio</b> como Internet o telefonía, o un <b>certificado de residencia expedido por autoridad oficial</b>.</p>
            </blockquote>
            <p style="">Tenga en cuenta que los documentos:
              <br/>
              <ul style="text-decoration:none;color:#636363;">
                <li>Deben ser claros y legibles.</li>
                <li>No puede ser un estado de cuenta bancario.</li>
                <li>No puede estar editado o modificado en modo alguno.</li>
                <li>Debe haber sido expedido dentro de los últimos 3 meses.</li>
                <li>Debe ser en formato JPEG (.jpg ó .jpeg), PNG (.png) or PDF (.pdf).</li>
              </ul>
            </p>
            
						<br />
						<!-- The file upload form used as target for the file upload widget -->
						<form id="fileupload" action="{{url_for('profile-identity_validation')}}" method="POST" enctype="multipart/form-data">
							<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
							<div class="row-fluid fileupload-buttonbar" id="dropzone">
								<div class="span7">
									<!-- The fileinput-button span is used to style the file input field as button -->
									<span class="btn green fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>{{ 'Agregar archivos...' }}</span>
                    <input type="file" name="files[]" multiple>
									</span>
									<button type="submit" id="upload_file_button" class="btn blue btn-primary start disabled" style="dispaly:none;">
                    <i class="icon-upload icon-white"></i>
                    <span>{{ 'Subir archivos' }}</span>
									</button>
<!-- 									<button type="reset" class="btn yellow cancel" style="display:none;">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
									</button>
									<button type="button" class="btn red delete" style="display:none;">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
									</button>
 -->					</div>
								<!-- The global progress information -->
								<div class="span5 fileupload-progress fade">
									<!-- The global progress bar -->
									<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
										<div class="bar" style="width:0%;"></div>
									</div>
                  
									<!-- The extended global progress information -->
									<!--div class="progress-extended">&nbsp;</div -->
								</div>
							</div>
							<!-- The loading indicator is shown during file processing -->
							<div class="fileupload-loading"></div>
							<br>
              
              <div class="span11" id="files_table_container" > 
                <table role="presentation" class="table table-striped" id="files_to_upload">
                  <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
                  </tbody>
                </table>
              </div>
          
            </form>
						
          </div>
          
          {% include 'frontend/profile_form_verification_files.html' %}
