  <div class="row-fluid">
    <div class="span6">
      <form id="otp-verify" action="{{url_for('profile-otp-verify')}}" method="POST">
        <input type="hidden" name="secret" value="{{secret}}"/>
        <div class="control-group">
          <div class="controls">
            <label class="control-label">Llave privada segura</label>
            <div class="alert alert-info">
              {{secret}}
            </div>
          </div>
          <div class="controls">
              <label class="control-label">Código</label>
              <input type="text" class="m-wrap span12" name="code"/>
          </div>
          <div class="form-actions" style="padding-left: 20px !important;">
            <a href="#" onclick="javascript:$('#otp-verify').submit()" class="btn blue">Guardar</a>
          </div>
        </div>
      </form>
    </div>
    <div class="span2">
      <div class="well">
        <img src="{{url_for('profile-otp-image', url=img_url)}}" alt="QR Code" />
      </div>
    </div>
    
    <div class="span4">
      <div>
        <div class="portlet">
          <div class="portlet-body">
            <div class="well">
              <h4>{{'Autenticación en dos pasos OTP (One-Time Password)'}}</h4>
              <p>{{'Usted puede proteger su cuenta vinculándola al servicio de autenticación OTPauth de Google'}}</p>
              <p>{{'Por favor tenga cuidado al utilizar OTP. Una vez vinculada su cuenta <b>LatinCoin</b> con el servicio OTPauth, se le requerirá el código cada vez que ingrese al sitio.'}}</p>
              <p>{{'Para más información visite <a href="http://en.wikipedia.org/wiki/One-time_password">One-time_password</a>'}}</p>
              <p>{{'Ante cualquier duda por favor contáctese con <a href="mailto:soporte@latincoin.com">soporte@latincoin.com</a>.'}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END WELLS PORTLET-->
    </div>

  </div>