  {% extends "frontend/base_login.html"%}
  
    {%- macro form_input(field, icon='', class='', placeholder='') -%}
    <div class="control-group {{'error' if field.errors else ''}}">
      <div class="controls">
        {{'<span class="help-inline">'+field.errors.0+'</span>' if field.errors else ''}}
        <div class="input-icon left">
          <i class="{{icon}}"></i>
          {{field(class=class, placeholder=placeholder)}}
        </div>
      </div>
    </div>
  {%- endmacro -%}

  {%block content%}

    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form id="reset-form" class="form-vertical" method="POST" action="{{url_for('account-reset',token=token)}}">
      <h3 class="">{{'Cambio de contraseña ?'}}</h3>
      <p>{{'Ingrese su nueva contraseña.'}}</p>
      
      {% if flash %}
      <div class="alert alert-{{flash.type}}">
        <button class="close" data-dismiss="alert"></button>
        {{flash.message}}
      </div>
      {% endif %}

      {{ form_input(form.password, icon="icon-lock", class='m-wrap', placeholder='Contraseña') }}
      {{ form_input(form.confirm, icon="icon-ok", class='m-wrap', placeholder='Repetir Contraseña') }}

      <div class="form-actions">
        <button type="submit" class="btn green pull-left">{{'Cambiar'}}&nbsp;<i class="m-icon-swapright m-icon-white"></i></button>
        <!-- a href="#" id="forget-btn-off" onclick="$('#reset-form').submit()" class="btn green pull-left">
        {{'Cambiar'}}<i class="m-icon-swapright m-icon-white"></i>
        </a-->            
      </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
  {%endblock%}