  {% extends "frontend/base_home.html"%}
  
  {%block content%}
    <!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							Retiro de fondos <small>Retire pesos y bitcoins</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="trade.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Retiro</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid profile">
					<div class="span12">
						<!--BEGIN TABS-->
						<div class="tabbable tabbable-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab_1_3" data-toggle="tab">Retirar bitcoins</a></li>
                <li><a href="#tab_1_4" data-toggle="tab">Retirar pesos</a></li>
								<!--li><a href="#tab_1_5" data-toggle="tab"><i>Redeem codes</i></a></li-->
							</ul>
							<div class="tab-content">
								
                <!-- TAB #3 -->
								<div class="tab-pane row-fluid active" id="tab_1_3">
                  
                   <div class="span8">
                    <div>
                      <!-- BEGIN GENERAL PORTLET-->
                      <div class="portlet">
                        <div class="portlet-title">
                          <h4><i class="icon-minus-sign"></i></h4>
                        </div>
                        <div class="portlet-body form">
                            {%include "frontend/retiro_bitcoin_form.html"%}
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!--div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div-->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>Instrucciones</h4>
                            <p>Para realizar uma retirada de bitcoins basta informar um endereço Bitcoin válido e o valor desejado.</p>
                            <p>Como alternativa você poderá também utilizar endereços já cadastrados em sua página de configurações na opção <i>Endereços bitcoin</i>.</p>
                            <p><strong>A quantia mínima para retirada é de <span class="highlight">BTC 0,01</span></strong>.</p>
                            <p>Dependendo da rede bitcoin a sua retirada poderá demorar de vários minutos até algumas horas.</p>  
                            <p>Qualquer dúvida entre em contato com o <a href="/suporte/">suporte</a>.</p>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>
				
                  
                  
								</div>
								
								<!--end tab-pane-->
								
                <!-- TAB #3 -->
								<div class="tab-pane row-fluid" id="tab_1_4">
                  
                   <div class="span8">
                    <div>
                      <!-- BEGIN GENERAL PORTLET-->
                      <div class="portlet">
                        <div class="portlet-title">
                          <h4><i class="icon-minus-sign"></i></h4>
                        </div>
                        <div class="portlet-body form">
                          <!-- BEGIN FORM-->
                          {%include "frontend/retiro_pesos_form.html"%}
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!-- div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div -->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>Instrucciones</h4>
                            <p>As solicitaçãos de retirada serão conferidas todos os dias úteis as 12hs. Após este horário o valor será depositado em até <strong>36 horas úteis</strong>. Dependendo do valor o depósito poderá ser realizado em espécie, cheque ou transferência bancária.</p>
                            <p>Como alternativa você poderá também utilizar contas já cadastradas em sua página de configurações na opção <i>Contas bancárias</i>.</p>
                            <p>Os depósitos serão realizados em todos os bancos nacionais.</p>
                            <p>Será cobrado uma taxa de 1,65%.</p>
                            <p><strong>O valor mínimo de retirada é de R$ 25,00</strong></p>
                            <p>Qualquer dúvida entre em contato com o <a href="/suporte/">suporte</a>.</p>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>
				
                  
                  
								</div>
								
								<!--end tab-pane-->
								
							</div>
						</div>
						<!--END TABS-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
  {%endblock%}
  
  {%block javascript_run%}
  <script>
		jQuery(document).ready(function() {			
			// initiate layout and plugins
			App.setPage("table_managed");
			App.init();
		});
	</script>
  {%endblock%}