    <!-- BEGIN FORM-->
    <form action="#" class="form-horizontal">
      <div class="row-fluid">
        <div class="span12">
          
          <div class="control-group">
            <label class="control-label">Dirección bitcoin</label>
            <div class="controls">
               <input type="text" class="span6 m-wrap" />
               <span class="help-inline"></span>
            </div>
          </div>
       
          <div class="control-group">
            <label class="control-label">Cantidad de bitcoins</label>
            <div class="controls">
               <div class="input-prepend">
                  <span class="add-on">BTC</span><input class="m-wrap " type="text" />
               </div>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label">PIN de seguridad</label>
            <div class="controls">
               <div class="input-prepend">
                  <span class="add-on">PIN</span><input class="m-wrap " type="text" />
               </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="form-actions">
        <button type="submit" class="btn blue">Retirar bitcoins</button>
      </div>
    </form>
  