<!-- BEGIN SIDEBAR MENU -->        	
			<ul>
				<li>
          <a href="{{url_for('home')}}">
            <center><img src="/assets/img/logo/logotipow200.png" alt="LatinCoin" /></center>
          </a>
        </li>
        <!--li>
					<div class="sidebar-toggler hidden-phone"></div>
				</li-->
				<!--li>
					<form class="sidebar-search">
						<div class="input-box">
							<a href="javascript:;" class="remove"></a>
							<input type="text" placeholder="Search..." />				
							<input type="button" class="submit" value=" " />
						</div>
					</form>
				</li-->
				<li class="has-sub {{ 'active' if html=='trade' else '' }} ">
					<a href="{{ url_for('trade-new') }}">
            <i class="icon-money"></i> 
            <span class="title">{{'Comprar / Vender'}}</span>
            <span class="{{ 'selected' if html=='trade' else '' }}"></span>
					</a>
				</li>
				<li class="has-sub {{ 'active' if html=='history' else '' }} ">
					<a href="{{ url_for('trade-history') }}">
					<i class="icon-table"></i> 
					<span class="title">{{'Mis Ordenes'}}</span>
					<span class="{{ 'selected' if html=='history' else '' }}"></span>
					</a>
				</li>

				<li class="has-sub {{ 'active' if html=='deposito' else '' }} ">
					<a href="{{ url_for('deposit-btc') }}">
            <i class="icon-signin"></i> 
            <span class="title">{{'Depósito'}}</span>
            <span class="{{ 'selected' if html=='deposito' else '' }}"></span>
					</a>
				</li>
        <li class="has-sub {{ 'active' if html=='withdraw' else '' }} ">
					<a href="{{ url_for('withdraw-btc') }}">
            <i class="icon-signout"></i> 
            <span class="title">{{'Retiro'}}</span>
            <span class="{{ 'selected' if html=='withdraw' else '' }}"></span>
					</a>
				</li>
        <li class="has-sub {{ 'active' if html=='profile' else '' }} ">
					<a href="{{ url_for('profile-personal_info') }}">
					<i class="icon-user"></i> 
					<span class="title">{{'Perfil'}}</span>
					<span class="{{ 'selected' if html=='profile' else '' }}"></span>
					</a>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
