<!-- BEGIN SIDEBAR MENU -->        	
			<ul>
				
        <li style="display:none;">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li style="display:none;">
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search">
						<div class="input-box">
							<a href="javascript:;" class="remove"></a>
							<input type="text" placeholder="Search..." />				
							<input type="button" class="submit" value=" " />
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start {{ 'active' if html=='trade' else '' }} ">
					<a href="{{ url_for('designer-html', html='trade') }}">
            <i class="icon-money"></i> 
            <span class="title">Compra/Venta</span>
            <span class="{{ 'selected' if html=='trade' else 'arrow' }}"></span>
					</a>
				</li>
				<li class="has-sub {{ 'active' if html=='deposito' else '' }} ">
					<a href="{{ url_for('designer-html', html='deposito') }}">
            <i class="icon-signin"></i> 
            <span class="title">Depósito</span>
            <span class="{{ 'selected' if html=='deposito' else 'arrow' }}"></span>
					</a>
				</li>
        <li class="has-sub {{ 'active' if html=='retiro' else '' }} ">
					<a href="{{ url_for('designer-html', html='retiro') }}">
            <i class=" icon-signout"></i> 
            <span class="title">Retiro</span>
            <span class="{{ 'selected' if html=='retiro' else 'arrow' }}"></span>
					</a>
				</li>
				<li class="has-sub {{ 'active' if html=='operations' else '' }} ">
					<a href="{{ url_for('designer-html', html='operations') }}">
					<i class="icon-table"></i> 
					<span class="title">Historial</span>
					<span class="{{ 'selected' if html=='operations' else 'arrow' }}"></span>
					</a>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->