<!-- BEGIN SIDEBAR MENU -->        	
			<ul>
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search">
						<div class="input-box">
							<a href="javascript:;" class="remove"></a>
							<input type="text" placeholder="Search..." />				
							<input type="button" class="submit" value=" " />
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start active ">
					<a href="trade.html">
            <i class="icon-home"></i> 
            <span class="title">Compra/Venta</span>
            <span class="selected"></span>
					</a>
				</li>
				<li class="has-sub ">
					<a href="funding.html">
            <i class="icon-bookmark-empty"></i> 
            <span class="title">Fondos</span>
            <span class="arrow "></span>
					</a>
				</li>
				<li class="has-sub ">
					<a href="operations.html">
					<i class="icon-table"></i> 
					<span class="title">Historial</span>
					<span class="arrow "></span>
					</a>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->