{% extends "frontend/base_login.html"%}

  {%- macro form_input(field, icon='', class='', placeholder='') -%}
    <div class="control-group {{'error' if field.errors else ''}}">
      <div class="controls">
        {{'<span class="help-inline">'+field.errors.0+'</span>' if field.errors else ''}}
        <div class="input-icon left">
          <i class="{{icon}}"></i>
          {{field(class=class, placeholder=placeholder)}}
        </div>
      </div>
    </div>
  {%- endmacro -%}

  {%- macro form_checkbox(field, label, class) -%}
        <div class="control-group {{'error' if field.errors else ''}}">
          <div class="controls">
            {{'<span class="help-inline">'+field.errors.0+'</span>' if field.errors else ''}}
            <label class="checkbox {{class}}" style="color:#000">
            {{field}}{{label}}
            </label>  
          </div>
        </div>
  {%- endmacro -%}
  
  {%block content%}
  <!-- BEGIN REGISTRATION FORM -->
    <form class="form-vertical" id="signup-form" action="{{url_for('account-signup')}}" method="POST">
      <h3 class="">{{'Registro'}}</h3>
      <p>{{'Complete el siguiente formulario con sus datos'}}:</p>

      {% if flash %}
      <div class="alert alert-error">
                  <button class="close" data-dismiss="alert"></button>
                  {{flash.message}}
      </div>
      {% endif %}
      
      {{ form_input(form.email, icon="icon-user", class='m-wrap', placeholder='E-Mail') }}
      {{ form_input(form.password, icon="icon-lock", class='m-wrap', placeholder='Contraseña') }}
      {{ form_input(form.confirm, icon="icon-ok", class='m-wrap', placeholder='Repetir Contraseña') }}
      {{ form_checkbox(form.accept_terms, label='He leido los terminos y condiciones ', class='line') }}

      <div class="form-actions">
        <button type="submit" class="btn green pull-left">{{'Registrarse'}}&nbsp;<i class="m-icon-swapright m-icon-white"></i></button>
      </div>
      <div class="create-account">
        <p>
          {{'¿Ya está registrado?'}}&nbsp; 
          <a href="{{url_for('account-login')}}" id="register-btn-off" class="">{{'Ingresar'}}</a>
        </p>
      </div>
    </form>
    <!-- END REGISTRATION FORM -->
  {%endblock%}

  {%block javascript_run%}
  <script>
 
    function CheckPassword(password)
    {
      var score = 1;

      if (password.length < 1)
        return strength[0];

      if (password.length < 4)
        return strength[1];

      if (password.length >= 8)
        score++;
      if (password.length >= 10)
        score++;
      if (password.match(/\d+/))
        score++;
      if (password.match(/[a-z]/) &&
        password.match(/[A-Z]/))
        score++;
      if (password.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,£,(,)]/))
        score++;

      return score;
    }

    var strength = new Array();
      strength[0] = "Vacio";
      strength[1] = "Muy débil";
      strength[2] = "Débil";
      strength[3] = "Medio";
      strength[4] = "Fuerte";
      strength[5] = "Muy fuerte";

    $(document).ready( function() {
      $("#password").change( function() {
  
        var score = CheckPassword($(this).val());
        if(score > 0 && score < 4) {
          var html = '<span class="input-warning tooltips" data-original-title="please write a valid email"><i class="icon-warning-sign"></i></span>'
          $(this).          
        }


        

      });
    });

  </script>

  {%endblock%}