  {% extends "frontend/base.html"%}
  
  {%block html_head%}
  <!-- Index -->
  <link href="/assets/google-code-prettify/prettify.css" rel="stylesheet" />
  <link href="/assets/css/docs.css" rel="stylesheet" />
  {%endblock%}
  
  {%block html_body%}
    <body class="fixed-top" style="background-color: #ffffff !important;">
      <div class="container-fluid">
				<div class="span12" style="height:100px;">
        </div>
        <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<center><h3 class="page-title">
              <img src="/assets/img/latincoin.jpg" alt="LatinCoin" />
							
						</h3>
            </center>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->				
				<div class="row-fluid">
					<div class="span12">
						<div class="row-fluid page-404">
							<div class="span12 number" style="text-align:center;line-height: 40px;font-size: 40px;font-weight:60;letter-spacing: -2px;">
              	 El  primer mercado de bitcoins de la ARGENTINA
							</div>
              <div style="clear:both;"></div>
							<div class="span3">
              </div>
              <div class="span6 details" style="text-align:right;">
                <h4>pronto...</h4>
              </div>
              <div class="span3">
              </div>
						</div>
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			
  </body>
    {%endblock%}