    <div class="span4">
      <div class="portlet sale-summary">
        <div class="portlet-title">
          <h4>Resumen</h4>
          <div class="tools">
            <a class="reload" href="javascript:;"></a>
          </div>
        </div>
        <ul class="unstyled">
          <li>
            <span class="sale-info">ULTIMO PRECIO <i class="icon-img-up"></i></span> 
            <span class="sale-num">23</span>
          </li>
          <li>
            <span class="sale-info">HIGH <i class="icon-img-down"></i></span> 
            <span class="sale-num">$87</span>
          </li>
          <li>
            <span class="sale-info">LOW</span> 
            <span class="sale-num">$2377</span>
          </li>
          <li>
            <span class="sale-info">VOLUMEN</span> 
            <span class="sale-num">37.990</span>
          </li>
        </ul>
      </div>
    </div>
    <!--end span4-->