    
    <form action="{{ '#' if bid else '#' }}" class="form-horizontal">
      <div class="row-fluid">
        <div class="span12">
          
          <div class="control-group">
            <div class="control-group-item input-container input-container2">
               <br/>
               <div class="controls ex2">
                <label class="checkbox">
                  <input type="checkbox" value="" /> Orden de Mercado ({{ 'compre' if bid else 'venda' }} a precio de mercado): esta Orden o bien se ejecuta inmediatamente o se cancela.
                  
                </label>
               </div>
            </div>
          </div>
      
          <div class="control-group">
            <label class="control-label">Cantidad de bitcoins a {{ 'compre' if bid else 'vender' }}</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">BTC</span>
                <input type="text" class="m-wrap" />
              </div>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label">Precio por bitcoin en pesos</label>
            <div class="controls">
               <div class="input-prepend">
                  <span class="add-on">$</span>
                  <input class="m-wrap " type="text" />
               </div>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label">Total a {{ 'pagar' if bid else 'recibir' }} en pesos</label>
            <div class="controls">
               <div class="input-prepend">
                  <span class="add-on">$</span>
                  <input class="m-wrap " type="text" disabled />
               </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="form-actions">
        <button type="submit" class="btn blue">{{ 'Comprar' if bid else 'Vender' }}</button>
        <!--button type="button" class="btn" title="Borrar valores">Cancelar</button -->
      </div>
    </form>