  {% extends "frontend/base_home.html"%}
  
  {%block content%}
    <!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							Compra/Venta <small>Genere órdenes de compra y venta de bitcoins</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="trade.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Compra/Venta</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid profile">
					
          <div class="span12">
						<!--BEGIN TABS-->
						<div class="tabbable tabbable-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab_1_1" data-toggle="tab">Comprar bitcoins</a></li>
								<li><a href="#tab_1_2" data-toggle="tab">Vender bitcoins</a></li>
							</ul>
							<div class="tab-content">
								
                <!-- TAB #1 -->
                <div class="tab-pane row-fluid active" id="tab_1_1">
                  <div class="span8">
                    <div class="portlet tabbable">
                      <div class="portlet-title">
                        <h4>
                          <i class="icon-money hidden-320"></i>
                          <span class="hidden-480">Nueva orden de compra</span>
                           &nbsp;
                        </h4>
                       </div>
                       <div class="portlet-body form"> <!-- style="border-top: 1px solid #b4cef8;" -->
                          {% set bid = True %}
                          {%include "frontend/trade_form.html"%}
                      </div>
                    </div>
                  </div>
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!-- div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div -->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>Instrucciones</h4>
                            <p>Para adicionar bitcoins em sua conta basta enviar para qualquer um dos endereços ao lado.</p>
                            <p>Após algumas confirmações de rede o valor será automaticamente creditado e você será avisado por email. Esta operação pode demandar de vários minutos até poucas horas.</p>
                            <p>Para aumentar o seu anonimato, poderão ser criados novos endereços a cada 24 horas.</p>
                            <p>Qualquer dúvida entre em contato com o suporte.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>
				
                  
                  <div class="span12" style="margin-left:0;">
                    {% set operations_table_name = 'Operaciones de compra activas'%}
                    {% set collpased = True %}
                    {%include "frontend/trade_operations_table.html"%}
                  </div>
								</div>
								
                <!--end tab-pane-->
								<!-- TAB #2 -->
                <div class="tab-pane profile-classic row-fluid" id="tab_1_2">
									<div class="span8">
                    <div class="portlet tabbable">
                      <div class="portlet-title">
                        <h4>
                          <i class="icon-money hidden-320"></i>
                          <span class="hidden-480">Nueva orden de venta</span>
                           &nbsp;
                        </h4>
                       </div>
                       <div class="portlet-body form"> <!-- style="border-top: 1px solid #b4cef8;" -->
                          {% set bid = False %}
                          {%include "frontend/trade_form.html"%}
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!-- div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div -->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>Instrucciones</h4>
                            <p>Para adicionar bitcoins em sua conta basta enviar para qualquer um dos endereços ao lado.</p>
                            <p>Após algumas confirmações de rede o valor será automaticamente creditado e você será avisado por email. Esta operação pode demandar de vários minutos até poucas horas.</p>
                            <p>Para aumentar o seu anonimato, poderão ser criados novos endereços a cada 24 horas.</p>
                            <p>Qualquer dúvida entre em contato com o suporte.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>
				
                  
                  <div class="span12" style="margin-left:0;">
                    {% set operations_table_name = 'Operaciones de venta activas'%}
                    {% set collpased = True %}
                    {%include "frontend/trade_operations_table.html"%}
                  </div>
                  
								</div>
								
							</div>
						</div>
						<!--END TABS-->
					</div>
				
          
          
				
        </div>
				<!-- END PAGE CONTENT-->
			</div>
  {%endblock%}
  
  {%block javascript_run%}
  <script>
		jQuery(document).ready(function() {			
			// initiate layout and plugins
			App.setPage("table_managed");
			App.init();
		});
	</script>
  {%endblock%}