  {%- macro form_input(field, label='', symbol='', disabled=False, hide=False) -%}
    <div class="control-group {{'error' if field.errors else ''}}" {{'style="display:none"' if hide else '' }} >
      {{'<span class="help-inline">'+field.errors.0+'</span>' if field.errors else ''}}
      <label class="control-label" style="color:#000" >{{label}}</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">{{symbol}}</span>
          {% if disabled %}
            {{field(class='m-wrap', readonly='readonly')}}
          {% else %}
            {{field(class='m-wrap')}}
          {% endif %}
        </div>
      </div>
    </div>
  {%- endmacro -%}

    <form id="form-{{type}}" action="{{url_for('trade-new')}}" class="form-horizontal" method="POST">
      <div class="row-fluid">
        <div class="span12">
          
          <div class="control-group">
            <div class="control-group-item input-container input-container2">
               <br/>
               <div class="controls ex2">
                <label class="checkbox">
                  {{form.bid_market if type == 'bid' else form.ask_market}}
                  Orden de Mercado ({{ 'compre' if type=='bid' else 'venda' }} a precio de mercado): esta Orden o bien se ejecuta inmediatamente o se cancela.
                  
                </label>
               </div>
            </div>
          </div>

          {{form_input(form.bid_amount if type == 'bid' else form.ask_amount, hide=False, symbol='BTC', label='Cantidad de bitcoins a ' +  ( 'comprar' if type=='bid' else 'Vender')   )}}
          
          {{form_input(form.bid_ppc if type == 'bid' else form.ask_ppc, symbol='$', hide=form.bid_market.data if type == 'bid' else form.ask_market.data,label='Precio por bitcoin en pesos')}}
          
          {{form_input(form.bid_total if type == 'bid' else form.ask_total, symbol='$', hide=form.bid_market.data if type == 'bid' else form.ask_market.data, label='Total a ' + ('pagar' if type=='bid' else 'recibir') + ' en pesos', disabled=True)}}
          
          <input type="hidden" name="type" value="{{type}}"/>

        </div>
      </div>
    
      <div class="form-actions">
        <button type="submit" class="btn blue">{{'Crear Orden de ' + ('Compra' if type=='bid' else 'Venta')}}</button>
      </div>
    </form>