  {% extends "frontend/base_home.html"%}
  
  {%block content%}
    <!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							Comprar / Vender <small>Genere órdenes de compra y venta de bitcoins</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="trade.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Comprar / Vender</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->

      {% if flash %}
      <div class="alert alert-{{flash.type}}">
                  <button class="close" data-dismiss="alert"></button>
                  {{flash.message}}
      </div>
      {% endif %}

				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid profile">
          <div class="span12">
						<!--BEGIN TABS-->
						<div class="tabbable tabbable-custom">
							<ul class="nav nav-tabs">
								<li {{'class="active"' if active_tab == 'bid' else ''}}><a href="#tab_1_1" data-toggle="tab">Comprar bitcoins</a></li>
								<li {{'class="active"' if active_tab == 'ask' else ''}}><a href="#tab_1_2" data-toggle="tab">Vender bitcoins</a></li>
							</ul>
							<div class="tab-content">
								
                <!-- TAB #1 -->
                <div class="tab-pane row-fluid {{'active' if active_tab == 'bid' else ''}}" id="tab_1_1">
                  <div class="span8">
                    <div class="portlet tabbable">
                      <div class="portlet-title">
                        <h4>
                          <i class="icon-money hidden-320"></i>
                          <span class="hidden-480">Nueva orden de compra</span>
                           &nbsp;
                        </h4>
                       </div>
                       <div class="portlet-body form"> <!-- style="border-top: 1px solid #b4cef8;" -->
                          {% set type = 'bid' %}
                          {% set form = bid_form %}
                          {%include "frontend/trade_form.html"%}
                      </div>
                    </div>
                  </div>
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!-- div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div -->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>Instrucciones</h4>
                            <p>Para adicionar bitcoins em sua conta basta enviar para qualquer um dos endereços ao lado.</p>
                            <p>Após algumas confirmações de rede o valor será automaticamente creditado e você será avisado por email. Esta operação pode demandar de vários minutos até poucas horas.</p>
                            <p>Para aumentar o seu anonimato, poderão ser criados novos endereços a cada 24 horas.</p>
                            <p>Qualquer dúvida entre em contato com o suporte.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>
				
                  
                  <div class="span12" style="margin-left:0;">
                    {% set operations_table_name = 'Ordenes de compra activas'%}
                    {%include "frontend/trade_operations_table.html"%}
                  </div>
								</div>
								
                <!--end tab-pane-->
								<!-- TAB #2 -->
                <div class="tab-pane profile-classic row-fluid {{'active' if active_tab == 'ask' else ''}}" id="tab_1_2">
									<div class="span8">
                    <div class="portlet tabbable">
                      <div class="portlet-title">
                        <h4>
                          <i class="icon-money hidden-320"></i>
                          <span class="hidden-480">Nueva orden de venta</span>
                           &nbsp;
                        </h4>
                       </div>
                       <div class="portlet-body form"> <!-- style="border-top: 1px solid #b4cef8;" -->
                          {% set type = 'ask' %}
                          {% set form = ask_form %}
                          {%include "frontend/trade_form.html"%}
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="span4">
                    <div>
                      <div class="portlet">
                        <!-- div class="portlet-title">
                          <h4><i class=" icon-question-sign"></i></h4>
                        </div -->
                        <div class="portlet-body">
                          <div class="well">
                            <h4>Instrucciones</h4>
                            <p>Para adicionar bitcoins em sua conta basta enviar para qualquer um dos endereços ao lado.</p>
                            <p>Após algumas confirmações de rede o valor será automaticamente creditado e você será avisado por email. Esta operação pode demandar de vários minutos até poucas horas.</p>
                            <p>Para aumentar o seu anonimato, poderão ser criados novos endereços a cada 24 horas.</p>
                            <p>Qualquer dúvida entre em contato com o suporte.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END WELLS PORTLET-->
                  </div>
				
                  
                  <div class="span12" style="margin-left:0;">
                    {% set operations_table_name = 'Operaciones de venta activas'%}
                    {% set collpased = True %}
                    {%include "frontend/trade_operations_table.html"%}
                  </div>
                  
								</div>
								
							</div>
						</div>
						<!--END TABS-->
					</div>
				
          
          
				
        </div>
				<!-- END PAGE CONTENT-->
			</div>
  {%endblock%}
  
  {%block javascript_run%}
  <script>

    var table_ajax_source = {'bid': '{{url_for('trade-active-orders', type='bid')}}',
                             'ask': '{{url_for('trade-active-orders', type='ask')}}' };

    function update_total(mo) {
      
      var amount = ($('input#'+mo+'_amount').val().match(/^[-+]?(?:\d+\.?\d*|\.\d+)$/));
      var ppc = ($('input#'+mo+'_ppc').val().match(/^[-+]?(?:\d+\.?\d*|\.\d+)$/));

      if(amount == null || ppc == null)
        return;

      var total = parseFloat(amount)*parseFloat(ppc);
      var total = Math.round(total*100)/100;

      $('input#'+mo+'_total').val(total);
    }


		jQuery(document).ready(function() {			
			
      $('#market_order_bid').change(function(){
        if($(this).is(':checked'))
          $('#form-bid .control-group:gt(1)').hide();
        else
          $('#form-bid .control-group:gt(1)').show();        
      });

      $('input#bid_amount, input#bid_ppc, input#ask_amount, input#ask_ppc').keyup(function() {
        update_total('bid');
        update_total('ask');
      });

      // initiate layout and plugins
			App.setPage('trade_new');
			App.init();
		});
	</script>
  {%endblock%}