  {% extends "frontend/base_home.html"%}
  
  {%block content%}
    <!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							Compra/Venta <small>Genere órdenes de compra y venta de bitcoins</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="trade.html">Inicio</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Compra/Venta</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid profile">
					<div class="span12">
						<!--BEGIN TABS-->
						<div class="tabbable tabbable-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab_1_1" data-toggle="tab">Comprar bitcoins</a></li>
								<li><a href="#tab_1_2" data-toggle="tab">Vender bitcoins</a></li>
								<li><a href="#tab_1_3" data-toggle="tab">Mis órdenes</a></li>
							</ul>
							<div class="tab-content">
								
                <!-- TAB #1 -->
                <div class="tab-pane row-fluid active" id="tab_1_1">
                  
                  <div class="portlet tabbable">
                  <!-- div class="portlet box light-grey tabbable" -->
                     <div class="portlet-title">
                        <h4>
                           <i class="icon-money hidden-320"></i>
                           <span class="hidden-480">Nueva orden de compra</span>
                           &nbsp;
                        </h4>
                     </div>
                     <div class="portlet-body form"> <!-- style="border-top: 1px solid #b4cef8;" -->
                        
                           <div class="tab-content">
                              <div class="tab-pane active" id="portlet_tab1">
                                 <!-- BEGIN FORM-->
                                 <form action="#" class="form-horizontal">
                                    <div class="control-group">
                                      <div class="control-group-item input-container input-container2">
                                         <br/>
                                         <div class="controls ex2">
                                          <label class="checkbox">
                                            <input type="checkbox" value="" /> Orden de Mercado (compre a precio de mercado): esta Orden o bien se ejecuta inmediatamente o se cancela.
                                          </label>
                                         </div>
                                      </div>
                                    </div>
                                    <div class="control-group">
                                      <div class="control-group-item input-container">
                                         <label class="control-label ex">Cantidad de BTC a comprar</label>
                                         <br/>
                                         <div class="controls ex">
                                            <div class="input-prepend">
                                              <span class="add-on">BTC</span>
                                              <input type="text" placeholder="2.1" class="m-wrap medium" />
                                            </div>
                                         </div>
                                      </div>
                                      <div class="control-group-item symbol-container">
                                        <br/>x
                                      </div>
                                      <div class="control-group-item input-container">
                                         <label class="control-label ex">Precio por BTC en Pesos</label>
                                         <div class="controls ex">
                                            <div class="input-prepend">
                                              <span class="add-on">$</span>
                                              <input type="text" placeholder="301.5" class="m-wrap medium" />
                                            </div>
                                         </div>
                                      </div>
                                      <div class="control-group-item symbol-container">
                                        <br/>=
                                      </div>
                                      <div class="control-group-item input-container">
                                        <label class="control-label ex">Total a recibir en Pesos</label>
                                         <div class="controls ex">
                                            <div class="input-prepend">
                                              <span class="add-on">$</span>
                                              <input type="text" placeholder="633.15" class="m-wrap medium" />
                                            </div>
                                         </div>
                                      </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                       <button type="submit" class="btn green"><i class="icon-ok"></i> Comprar</button>
                                       <button type="button" class="btn" title="Borrar valores">Cancelar</button>
                                    </div>
                                 </form>
                                 <!-- END FORM-->  
                              </div>
                              
                              
                           </div>
                        
                     </div>
                  </div>
                  {% set operations_table_name = 'Operaciones de compra activas'%}
                  {% set collpased = True %}
                  {%include "frontend/trade_operations_table.html"%}
                  
								</div>
								
                <!--end tab-pane-->
								<!-- TAB #2 -->
                <div class="tab-pane profile-classic row-fluid" id="tab_1_2">
									<div class="portlet tabbable">
                     <div class="portlet-title">
                        <h4>
                           <i class="icon-money hidden-320"></i>
                           <span class="hidden-480">Nueva orden de venta</span>
                           &nbsp;
                        </h4>
                     </div>
                     <div class="portlet-body form">
                        
                           <div class="tab-content">
                              <div class="tab-pane active" id="portlet_tab1">
                                 <!-- BEGIN FORM-->
                                 <form action="#" class="form-horizontal">
                                    <div class="control-group">
                                      <div class="control-group-item input-container input-container2">
                                        <br/>
                                        <div class="controls ex2">
                                          <label class="checkbox">
                                            <input type="checkbox" value="" /> Orden de Mercado (venda a precio de mercado): esta Orden o bien se ejecuta inmediatamente o se cancela.
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="control-group">
                                      <div class="control-group-item input-container">
                                         <label class="control-label ex">Cantidad de BTC a vender</label>
                                         <br/>
                                         <div class="controls ex">
                                            <div class="input-prepend">
                                              <span class="add-on">BTC</span>
                                              <input type="text" placeholder="2.1" class="m-wrap medium" />
                                            </div>
                                         </div>
                                      </div>
                                      <div class="control-group-item symbol-container">
                                        <br/>x
                                      </div>
                                      <div class="control-group-item input-container">
                                         <label class="control-label ex">Precio por BTC en Pesos</label>
                                         <div class="controls ex">
                                            <div class="input-prepend">
                                              <span class="add-on">$</span>
                                              <input type="text" placeholder="301.5" class="m-wrap medium" />
                                            </div>
                                         </div>
                                      </div>
                                      <div class="control-group-item symbol-container">
                                        <br/>=
                                      </div>
                                      <div class="control-group-item input-container">
                                        <label class="control-label ex">Total a gastar en Pesos</label>
                                         <div class="controls ex">
                                            <div class="input-prepend">
                                              <span class="add-on">$</span>
                                              <input type="text" placeholder="633.15" class="m-wrap medium" />
                                            </div>
                                         </div>
                                      </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                       <button type="submit" class="btn green"><i class="icon-ok"></i> Vender</button>
                                       <button type="button" class="btn" title="Borrar valores">Cancelar</button>
                                    </div>
                                 </form>
                                 <!-- END FORM-->  
                              </div>
                              
                              
                           </div>
                        
                     </div>
                  </div>
                  
                  {% set operations_table_name = 'Operaciones de venta activas'%}
                  {% set collpased = True %}
                  {%include "frontend/trade_operations_table.html"%}
								
                  
								</div>
								
                <!-- TAB #3 -->
								<div class="tab-pane row-fluid profile-account" id="tab_1_3">
									<div class="tab-pane active" id="tab_1_11">
                    {% set operations_table_name = 'Operaciones realiazadas desde el inicio de los tiempos'%}
                    {% set collpased = False %}
                    {%include "frontend/trade_operations_table.html"%}
                    <div class="portlet-body" style="display: block;">
                    </div>
									</div>
								</div>
								<!--end tab-pane-->
								
							</div>
						</div>
						<!--END TABS-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
  {%endblock%}
  
  {%block javascript_run%}
  <script>
		jQuery(document).ready(function() {			
			// initiate layout and plugins
			App.setPage("table_managed");
			App.init();
		});
	</script>
  {%endblock%}