  {%- macro form_input(field, label='', symbol='', disabled=False, hide=False, data_source='') -%}
    <div class="control-group {{'error' if field.errors else ''}}" {{'style="display:none"' if hide else '' }} >
      {{'<span class="help-inline">'+field.errors.0+'&nbsp;&nbsp;<span class="input-error tooltips" data-original-title="'+field.errors.0+'"><i class="icon-exclamation-sign"></i></span></span>' if field.errors else ''}}
      <label class="control-label">{{label}}</label>
      <div class="controls input-icon">
        {% if symbol!='' %}
          <div class="input-prepend span10">
            <span class="add-on">{{symbol}}</span>
              {{ form_input_field(field, disabled=disabled, data_source=data_source, class='span9') }}
          </div>
        {% else %}
          {{ form_input_field(field, disabled=disabled, data_source=data_source, class='span8') }}
          {% if field.name == 'btc_address' %}
            &nbsp;&nbsp;<a href="{{url_for('profile-btc_address')}}" class="btn"><i class="icon-plus"></i> Nueva dirección</a>
          {% endif %}
        {% endif %}
        {# {'<span class="input-error tooltips" data-original-title="'+field.errors.0+'"><i class="icon-exclamation-sign"></i></span>' if field.errors else ''} #}
      </div>
    </div>
  {%- endmacro -%}

  {%- macro form_input_field(field, disabled=False, data_source='', class='') -%}
    {% if disabled %}
      {{field(class='m-wrap '+class, readonly='readonly', **{'data-source':data_source, 'data-provide':'typeahead'})}}
    {% else %}
      {{field(class='m-wrap '+class, **{'data-source':data_source, 'data-provide':'typeahead'})}}
    {% endif %}
  {%- endmacro -%}

<div class="span8">
  <div>
    <!-- BEGIN GENERAL PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
        <h4><i class="icon-minus-sign"></i></h4>
      </div>
      <div class="portlet-body form">
 
        <!-- BEGIN FORM-->
        <form action="{{ url_for('withdraw-btc')}}" method="POST" class="form-horizontal">
          <div class="row-fluid">
            <div class="span12">
              
              {{form_input(form.btc_address, hide=False, symbol='', label='Dirección bitcoin', data_source=data_source)}}
              {{form_input(form.amount, hide=False, symbol='BTC', label='Cantidad de bitcoins ' )}}
             
             <!-- div class="control-group">
                <label class="control-label">PIN de seguridad</label>
                <div class="controls">
                   <div class="input-prepend">
                      <span class="add-on">PIN</span><input class="m-wrap " type="text" />
                   </div>
                </div>
              </div -->
            </div>
          </div>
        
          <div class="form-actions">
            <button type="submit" class="btn blue">Retirar bitcoins</button>
          </div>
        </form>
      
      </div>
    </div>
  </div>
  
</div>

<div class="span4">
  <div>
    <div class="portlet">
      <!--div class="portlet-title">
        <h4><i class=" icon-question-sign"></i></h4>
      </div-->
      <div class="portlet-body">
        <div class="well">
          <h4>{{'Instrucciones'}}</h4>
          <p>{{'Para retirar bitcoins debe informar una dirección Bitcoin válida y el valor deseado.'}}</p>
          <p>{{'Puede utilizar direcciones Bitcoin ya registradas en la <a href="%s">sección de configuración de direcciones</a>.'|format(url_for('profile-btc_address'))}}</p>
          <p>{{'La cantidad mínima de bitcoins a retirar es de <b>BTC 0.1</b>.'}}</p>
          <p>{{'El retiro puede demorar algunos minutos y hasta unas pocas horas, dependiendo de la red.'}}
          <p>{{'Le pedimos que tenga paciencia.'}}</p>
          <!--p>{{'Para aumentar su privacidad y anonimato podrá crear nuevas direcciones cada 24 horas.'}}</p-->
          <p>{{'Ante cualquier duda por favor contáctese con <a href="mailto:soporte@latincoin.com">soporte@latincoin.com</a>.'}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END WELLS PORTLET-->
</div>

<div class="span12" style="margin-left:0;">
  {% set operations_table_name = 'Retiros de bitcoins'%}
  {% set table_id = 'acc_opers_btc_table'%}
  {%include "frontend/withdraw_account_operations_table.html"%}
</div>
