  {%- macro form_input(field, label='', symbol='') -%}
    <div class="control-group {{'error' if field.errors else ''}}" >
      {{'<span class="help-inline">'+field.errors.0+'</span>' if field.errors else ''}}
      <label class="control-label">{{label}}</label>
      <div class="controls">
        {% if symbol != '' %}
        <div class="input-prepend span6">
          <span class="add-on">{{symbol}}</span>
            {{field(class='m-wrap span11')}}
        </div>
        {% else %}
          {{field(class='m-wrap span8')}}
          {% if field.name == 'bank_account' %}
            &nbsp;&nbsp;<a href="{{url_for('profile-bank_account')}}" class="btn"><i class="icon-plus"></i> Nueva cuenta</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {%- endmacro -%}

  
<div class="span8">
  <div>
    <!-- BEGIN GENERAL PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
        <h4><i class="icon-minus-sign"></i></h4>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{ url_for('withdraw-currency')}}" method="POST" class="form-horizontal">
          <div class="row-fluid">
            <div class="span12">
              
              {{form_input(form.bank_account, symbol='', label='Cuenta Bancaria')}}
              {{form_input(form.amount, symbol='$', label='Cantidad de pesos')}} 

            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn blue">Retirar fondos</button>
          </div>
        </form>

  
      </div>
    </div>
  </div>
</div>
                  
  <div class="span4">
    <div>
      <div class="portlet">
        <!-- div class="portlet-title">
          <h4><i class=" icon-question-sign"></i></h4>
        </div -->
        <div class="portlet-body">
          <div class="well">
            <h4>{{'Instrucciones'}}</h4>
            <p>{{'Las solicitudes de retiro se cotejan cada día hábil de la semana a las 12:00 a.m. Después de este tiempo la cantidad se transferirá dentro de las 24 horas hábiles siguientes.'}}</p>
            <p>{{'La cuenta destino del retiro de fondos debe ser de su propeidad y debe figurar a su nombre en el sistema bancario argentino. Debe ser previamente configurada en la <a href="%s">sección de configuración de cuentas bancarias</a>.'|format(url_for('profile-bank_account'))}}</p>
            <p>{{'Los retiros se harán a todos los bancos nacionales.'}}</p>
            <p>{{'La transferencia de los valores tiene una tasa de impuestos y costos de <strong>0.6%</strong>.'}}</p>
            <p>{{'El <b>valor mínimo</b> de retiro es de <b>$250</b> pesos argentinos.'}}</p>
            <p>{{'Ante cualquier duda por favor contáctese con <a href="mailto:soporte@latincoin.com">soporte@latincoin.com</a>.'}}</p>
            
          </div>
        </div>
      </div>
    </div>
    <!-- END WELLS PORTLET-->
  </div>
  
  <div class="span12" style="margin-left:0;">
  {% set operations_table_name = 'Retiros de Pesos'%}
  {% set table_id = 'acc_opers_bank_table'%}
  {%include "frontend/withdraw_account_operations_table.html"%}
</div>