  {% extends "backend/user_dashboard.html"%}
  
  {%block dashboard_content%}
  
  <!-- BEGIN PAGE CONTAINER-->
  <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->			
        <h3 class="page-title">
          {{'Pedidos de retiros'}}
        </h3>
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid profile">
      <div class="span12">
        {% if flash %}
        <div class="alert alert-{{ 'error' if flash.type=='error' else 'success' }}">
          <button class="close" data-dismiss="{{ 'error' if flash.type=='error' else 'success' }}" onclick="$(this).parent().remove();"></button>
          {{flash.message}}
        </div>
        {% endif %}
            
        {% include 'backend/withdraw_list.html' %}		
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
  {%endblock%}
  
  
  {%block javascript_run%}
  {%endblock%}